<hr/>
<h3>**Select an option**</h3>

<hr/>
<ul>
	<li><%= link_to "Add New Question", :controller => "questionbanks", :action => "new"%></li><br/>
	<li><%= link_to "Generate test", :controller => "genratetest", :action => "new"%></li>
	</ul>
<hr/>


