body{
	background-color:#64707C;

}

h1{
	text-align:center;
}
h2{
	text-align:center;
}


h3{
	text-align:center;
}

p {
	text-align:center;
}

a{
	text-decoration: none;
}

#outerDIV{
	width: 1000px;  
	border-color: black; 
	border-width: 2px; 
	background-color: gray; 
	margin: auto;
}

#header{
	height:100px;
	background-color:#A6AFFD;
}

#mid{

	background-color:#A6AFB7;

}

#footer{
	height:100px;
	background-color:#A6AFFD;
}
